table {
    width: 100%;
  }

.btn-section {

}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}